body {
    background-color: #333;
    font-family: sans-serif;
    height: 100vh;
}

#input-box {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px;
    width: 200px;
}

p {
    background-color: whitesmoke;
    width: fit-content;
    padding: 8px;
}